# This is a basic workflow to help you get started with Actions

name: Run export

# Controls when the workflow will run
on:
  schedule: 
    - cron: '0 8-20/4 * * *'
    

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  run_export:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.0
        with: 
          node-version: '15'
          cache: 'npm'
        
      - run: npm install
      - run: node --nolazy -r ts-node/register app.ts
        env:
          CONFIG: ${{ secrets.CONFIG }}
          AUTHKEY: ${{ secrets.AUTHKEY }}

